<div class="bgimg">
<div class="container">
<div class="heading-overlay">

  <h2 class="text-center fw-bold" style="color: rgb(236, 229, 13);">Explore Our Latest Products</h2>
</div>
  <br><br>

 
  <div class="mb-3 text-center">
    <span 
      *ngFor="let cat of categories" 
      (click)="selectedCategory = cat"
      class="badge me-2"
      [ngClass]="{
        'bg-success': selectedCategory === cat,
        'bg-dark': selectedCategory !== cat,
        'text-light': true,
        'cursor-pointer': true
      }"
      style="padding: 0.5em 1em; font-size: 0.9em;"
    >
      {{ cat }}
    </span>
  </div>

 
  <div class="row g-4">
  <ng-container *ngFor="let item of filtered; trackBy: trackById">
    <div class="col-md-3" *ngIf="selectedCategory === 'All' || item.category === selectedCategory">
      <app-card [card]="item"></app-card>
    </div>
  </ng-container>
</div>
</div>
</div>